Package: glad
Version: 0.1.36
Depends: egl-registry, opengl-registry, vcpkg-cmake, vcpkg-cmake-config
Architecture: x64-windows
Multi-Arch: same
Abi: 1f81bc8b54c1cffb15c8493f1bf5d206ca4c9d3fa2e7ed4db81913f172b53378
Description: Multi-Language Vulkan/GL/GLES/EGL/GLX/WGL Loader-Generator based on the official specs.
Default-Features: loader

Package: glad
Feature: loader
Architecture: x64-windows
Multi-Arch: same
Description: Generate loader logic.
