Package: glm
Version: 1.0.1
Port-Version: 3
Depends: vcpkg-cmake, vcpkg-cmake-config
Architecture: x64-windows
Multi-Arch: same
Abi: 828eabff28e0b49ca5aff3d0bd8e5d2f1e6c729a639909af8cb6be50c536d5b3
Description: OpenGL Mathematics (GLM)
