Package: glew
Version: 2.2.0
Port-Version: 6
Depends: opengl, vcpkg-cmake, vcpkg-cmake-config
Architecture: x64-windows
Multi-Arch: same
Abi: 67e4fc6ff0d2df25b6684c4720ea00668da89573103e27c3357e94d83c13205c
Description: The OpenGL Extension Wrangler Library (GLEW) is a cross-platform open-source C/C++ extension loading library.
